* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* width:960px; */
    background-color: #ffffff;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 700px auto 200px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft ft ft";
    font-family: 'Montserrat', sans-serif !important;
}

header {
    grid-area: hd;
    display: flex;
    
    }
#top-bar {
    background-color: rgba(120, 42, 42, 0.753);
    height: 50px;
    display: flex;
    width:100%;

}
#logo {
    flex-grow: 1;
    
}

#logo img {
    padding: 5px 0 0 5px;
    height: 100px;
    width: auto;
}
nav {
    flex-grow: 40;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    padding-top: 15px;
}

nav ul li a {
    font-size: 16px;
    text-decoration: none;
}

nav ul li:first-child {
    padding-right: 13px;
    padding-left: 13px;
}

nav ul li:last-child {
    padding-left: 13px;
    padding-right: 13px;
}


#social_links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
}

#social_links i {
    padding: 18px 15px 15px 0;
    color: #ffffff;
}

#social_links i:hover {
    font-size: 22px;
}

ul {

    list-style-type: none;
  

}
ul li{
    display: flex;
    height: 35px;
    width: 45px;
}

ul li a {
    color: #eeeeee;
}

ul li a:hover {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


#search {
    color: #ffff;
    padding-right: 10px;    
}
i.material-icons {
    top:-6px !important;
}
#header-image {
    background-image: url("../img/frontpic.jpg");
    background-size: cover;
    height: 700px;
    width: auto;
    }
    
    #photo_text {
        position: absolute;
        top: 80px;
        left: 40px;
    }


    #photo_text p {
        color: #000000;        
    }

main {
    grid-area: mn;
    grid-column: 1/11 !important;
    display: grid !important;
    grid-template-columns: repeat(10, 1fr) !important;
    }






footer {
    background-color: #782A2A;
    grid-area: ft;
    }