* {
    margin:0;
    padding:0;
}

body{    
    background-color: #ffffff;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 700px auto 150px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft ft ft";
    font-family: 'Montserrat', sans-serif !important;
}

header {
    grid-area: hd;
    display: flex;
    
    }
#top-bar {
    background-color: rgba(120, 42, 42, 0.753);
    height: 50px;
    display: flex;
    width:100%;

}
#logo {
    flex-grow: 1;
    
}

#logo img {
    padding: 5px 0 0 5px;
    height: 100px;
    width: auto;
}
nav {
    flex-grow: 40;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    padding-top: 15px;
}

nav ul li a {
    font-size: 16px;
    text-decoration: none;
}

nav ul li:first-child {
    padding-right: 13px;
    padding-left: 13px;
}

nav ul li:last-child {
    padding-left: 13px;
    padding-right: 13px;
}

.dropbtn {
    background-color: rgba(120, 42, 42, 0);
    color: white;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f177;
    
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 15px;
}

.dropdown-content a:hover {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    font-size: 18px;
}


#social_links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
}

#social_links i {
    padding: 18px 15px 15px 0;
    color: #ffffff;
}

#social_links i:hover {
    font-size: 22px;
}

ul {

    list-style-type: none;
  

}
ul li{
    display: flex;
    height: 35px;
    width: 45px;
}

ul li a {
    color: #eeeeee;
}

ul li a:hover {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


#search {
    color: #ffff;
    padding-right: 10px;    
}
i.material-icons {
    top:-6px !important;
}
#header-image {
    background-image: url("../img/frontpic.jpg");
    background-size: cover;
    height: 700px;
    width: auto;
    }

    #photo_text {
        position: absolute;
        top: 120px;
        left: 50px;
    }


    #photo_text p {
        color: #000000;       
        font-family: 'Rouge Script', cursive;
        font-size: 70px; 
    }   

main {
    grid-area: mn;
}

.box {
    background-color: #ddd;
    color: #fff;
    padding: 20px;
    height: 200px;
  }
  
  .box:nth-child(even) {
    background-color: rgb(245, 245, 245);
    color: #000;
  }
  
      .wrapper {
          width: auto;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
      }

#zigzag_1 {
background-image: url("../img/zigzag_1.jpg");
background-size: cover;
}

#zigzag_3 {
background-image: url("../img/zigzag_3.jpg");
background-size: cover;
}

#zigzag_5 {
background-image: url("../img/zigzag_5.jpg");
background-size: cover;
}

#zigzag_7 {
background-image: url("../img/zigzag_2.jpg");
background-size: cover;
}

#zigzag_9 {
background-image: url("../img/zigzag_4.jpg");
background-size: cover;
}

#zigzag_text p {
font-size: 40px;
text-align: center;
font-family: 'Cookie', cursive;
margin: 85px;
}

#barrels {
    background-image: url("../img/barrels.jpg");
    background-size: cover;
    height: 450px;
    width: auto;
    padding-top: 60px; 
}

#barrels_div {
    background-color: #ffffff46;
}

#barrels_div p {
    color: rgb(247, 247, 247);
    text-align: center;
    font-size: 25px;
    padding: 10px 0;
    font-weight: bold;
}




footer {
    background-color: #782A2A;
    grid-area: ft;
    }

#logo_footer {
    display: grid;
    justify-content: center;
    
}

#logo_footer img {
    padding: 5px 0 0 5px;
    height: 120px;
    width: auto;
}

#first_part_footer {
    height: 90px;
}

#grapes img {
    height: 50px;
    width: auto;
}

#second_part_footer {
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    height: 50px;
}

#about_us {
    text-align: center;
}

#about_us a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#about_us a:hover {
    text-decoration: underline;
}

#contact_us {
    text-align: center;
}

#contact_us a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#contact_us a:hover {
    text-decoration: underline;
}

#help {
    text-align: center;
}

#help a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#help a:hover {
    text-decoration: underline;
}

#social_media_icons {
    text-align: center;
}

#social_media_icons i{
    font-size: 25px;
    color: #000;
}

#social_media_icons a{
    text-decoration: none !important;
}

#facebook_icon:hover{
    color: rgb(22, 22, 87);
}

#twitter_icon:hover{
    color: rgb(38, 123, 192);
}

#instagram_icon:hover {
    color: #ffffff;
}
