* {
    margin:0;
    padding:0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* width:960px; */
    background-color: #ffffff;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 350px auto 200px;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft ft ft";
    font-family: 'Montserrat', sans-serif !important;
}

header {
    grid-area: hd;
    display: flex;
    
    }
#top-bar {
    background-color: rgba(120, 42, 42, 0.753);
    height: 50px;
    display: flex;
    width:100%;

}
#logo {
    flex-grow: 1;
}
nav {
    flex-grow: 40;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    padding-top: 15px;
}

nav ul li a {
    font-size: 16px;
}

nav ul li:first-child {
    padding-right: 13px;
    padding-left: 13px;
}

nav ul li:last-child {
    padding-left: 13px;
    padding-right: 13px;
}


#social_links {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
}

#social_links i {
    padding: 18px 15px 15px 0;
    color: #ffffff;
}

#social_links i:hover {
    font-size: 22px;
}

ul {

    list-style-type: none;
  

}
ul li{
    display: flex;
    height: 35px;
    width: 45px;
}

ul li a {
    color: #eeeeee;
}

ul li a:hover {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}


#search {
    color: #ffff;
    padding-right: 10px;    
}
i.material-icons {
    top:-6px !important;
}
#header-image {
    background-image: url("../img/france.jpg");
    background-size: cover;
    height: 350px;
    width: auto;
    }

main {
    grid-column: 1/11 !important;
    display: grid !important;
    grid-gap: 10px !important;
    padding-top: 10px !important;
    grid-template-columns: repeat(10, 1fr) !important;
    }

#left_filter {
    grid-template-columns: 1/2;
    height: auto;
    background-color: rgba(156, 86, 86, 0.466);
    margin-top: -10px;
    padding-top: 20px;
    margin-bottom: -100px;
    
    
}

#left_filter a {
    color: #000000;
}

#left_filter a:hover {
    text-decoration: underline;
}

#wine_type {
    margin: 0 0 5px 5px;
}

#wine_type a {
    font-size: 14px;
    font-weight: bold;
}

#red_wine, #white_wine, #rose_wine {
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 0 18px;
}

#product_area {
    grid-column: span 9;
    grid-gap: 40px;
    display: grid !important;
    grid-template-rows: repeat(3, minmax(200px, auto)) ;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto)); 
    margin-top: 20px;
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
}

.product:hover {
    border: 1px solid #000000;
}

#product_img {
       
    background-color: #fff;
    padding-bottom:10px;
    width: 70%;
    
}
.product #product_img img {
  background-size: contain;
  width: 100%; 
}

  .product #product_title { 
    color:#222222;
    text-transform: uppercase;
    margin-bottom: -10px;
}

#product_title h2 {
    font-size: 18px !important;
    font-weight: bold;
}


.product #product_price {
    font-size: 14px;
    color: #000000;
}

a:link {
    text-decoration: none;
}


.product #product_buy {
    margin:10px 0 20px 0; 
   
  }
  .product #product_buy a {
    padding:8px 15px;
    color: #ffffff;
    text-decoration: none;
    background-color: #782A2A; 
    font-size: 15px;
    border-radius: 20px;   
}

    .product #product_buy a:hover {
    border: 1px solid rgb(63, 22, 22);
    background-color: rgba(120, 42, 42, 0.685);
}

#page_number {
    text-align: center;
    display: flex;
    grid-column: 6/7;
    width: 150px;
    margin-top: 50px;
    justify-content: center;
}

#page_number p {
    padding: 0 10px;
}

#arrows {
    color: #000000;
    padding-top: 5px;
}

footer {
    background-color: #782A2A;
    grid-area: ft;
}


